.rent{
	padding: 100px 0;
}

.rent__inner {
  display: flex;
  justify-content: space-between;
}

.rent__content {
  width: 300px;
}

.rent__title {
  font-family: 'Fira Sans', sans-serif;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	margin-bottom: 30px;
	width: 200px;
}

.rent__text {
  margin-bottom: 20px;
}

.rent__text + .rent__text{
	margin-bottom: 75px;
}

.rent__item{
	border: 1px solid #060314;
	width: 250px;
  height: 350px;
	padding: 0 40px 30px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.rent__item-num{
	font-family: 'Fira Sans', sans-serif;
	font-weight: 500;
	font-size: 96px;
	line-height: 115px;
	opacity: 0.1;
	margin-bottom: auto;
}

.rent__item-title{
	font-family: 'Fira Sans', sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	margin-bottom: auto;
}