.top{
  padding-bottom: 100px;
}

.top__heading{
  display: flex;
  padding: 50px 0 30px;
}

.top__content{
  text-align: center;  
  padding-top: 90px;
  width: 50%;
}

.top__title{
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
  margin:0 auto 20px;
  max-width: 455px;
}

.top__text{
  font-size: 24px;
  line-height: 28px;
  margin:0 auto 60px;
  max-width: 470px;
}
  
.application-btn{
  cursor: pointer;
  text-transform: uppercase;
  color: #fefefe;
  background: #6d07d3;
  border: 1px solid transparent;
  padding: 16px 23px;
  transition: all .5s;
  display: inline-block;
}

.application-btn:hover{
  text-transform: uppercase;
  color: #6d07d3;
  background: #fefefe;
  border: 1px solid #6d07d3;
  padding: 16px 23px;
}

.top__slider{
  width: 50%;
}

 .top__slider {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/*

.slick-dots{
  list-style: none;
  text-align: center;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.slick-dots button{
  font-size: 0;
  width: 8px;
  height: 8px;
  background-color: #333333;
  border: none;
  border-radius: 50%;
  padding: 0;
}

.slick-active button{  
  width: 16px;
  height: 16px;
} */

.top__slider-text{
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  padding-right: 100px;
  text-align: right;
}

.top__slider-text span + span{
  padding-left: 12px;
}

.top__bottom{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.top__items{
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.top__item{
  border: 1px solid #333333;
  padding: 10px;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all .5s; 
}

.top__item:hover{
  transform: scale(1.25);
}

.top__links{
  padding-right: 80px;
}

.top__link{
  color: #333333;
  border-bottom: 1px solid #333333;
  
}

.top__link + .top__link{
  margin-left: 60px;
}